*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1320px;
  padding-left: calc($gutter / 2);
  padding-right: calc($gutter / 2);
  margin: 0 auto;

  @include pad {
    max-width: 720px;
  }

  @include mobile {
    max-width: 100%;
  }
}