.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-#{$gutter} / 2);
  margin-right: calc(-#{$gutter} / 2);
}

@include pad {
  .row-md {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-#{$gutter} / 2);
    margin-right: calc(-#{$gutter} / 2);
  }
}

@each $name, $width in $cols {
  .col-#{$name} {
    @include get-col($width);
  }
}

@each $breakpoint, $width in $breakpoints {
  @media (max-width: $width) {
    @each $name, $width in $cols {
      .col-#{$breakpoint}-#{$name} {
        @include get-col($width);
      }
    }
  }
}