<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>眼鏡官網</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
  <%- include('./layout/header'); -%>

  <section class="banner overflow-x-hidden">
    <div class="container h-100 d-flex flex-column justify-content-center align-items-end " data-aos="fade-left">
      <p class="fs-sm-8 fs-4 text-secondary">Promise-Desert 2020 早春系列</p>
      <h2 class="fs-sm-6 fs-1 fw-bold text-secondary mb-sm-8 mb-4">看得清，才能看得遠</h2>
      <a href="#" class="btn-sm btn-primary fs-7 fw-medium">立即購買</a>
    </div>
  </section>
  <main>
    <section class="bg-pink overflow-x-hidden">
      <div class="container py-sm-40 py-80" data-aos="fade-right">
        <h2 class="fs-sm-6 fs-2 fw-bold text-secondary text-center mb-24">用專業的心，做專業的事</h2>
        <ul class="row">
          <li class="col-sm-12 col-md-6 col-3 mb-md-24">
            <span class="material-icons-outlined fs-100 text-secondary text-center d-block mb-16">paid</span>
            <h3 class="fs-6 fw-bold text-secondary text-center mb-8">單一價格</h3>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="col-sm-12 col-md-6 col-3 mb-md-24">
            <span class="material-icons-outlined fs-100 text-secondary text-center d-block mb-16">schedule</span>
            <h3 class="fs-6 fw-bold text-secondary text-center mb-8">20 分鐘即可取件</h3>
            <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </li>
          <li class="col-sm-12 col-md-6 col-3 mb-sm-24">
            <span class="material-icons-outlined fs-100 text-secondary text-center d-block mb-16">favorite_border</span>
            <h3 class="fs-6 fw-bold text-secondary text-center mb-8">安心售後服務</h3>
            <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li class="col-sm-12 col-md-6 col-3">
            <span class="material-icons-outlined fs-100 text-secondary text-center d-block mb-16">voicemail</span>
            <h3 class="fs-6 fw-bold text-secondary text-center mb-8">關於鏡片</h3>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="container py-sm-40 py-80">
      <h2 class="fs-sm-6 fs-2 fw-bold text-secondary mb-sm-24 mb-48 text-center">經典系列鏡框</h2>
      <ul class="row flex-md-column ailgn-items-md-center overflow-hidden">
        <li class="col-sm-12 col-md-6 col-4 mb-md-24" data-aos="flip-left">
          <img src="../assets/images/home-section3-1.png" alt="OPTICAL" class="mb-8">
          <h3 class="font-roboto fs-2 fw-black fst-italic text-primary text-center">OPTICAL</h3>
        </li>
        <li class="col-sm-12 col-md-6 col-4 mb-md-24" data-aos="flip-left" data-aos-delay="300">
          <img src="../assets/images/home-section3-2.png" alt="SUNGLASSES" class="mb-8">
          <h3 class="font-roboto fs-2 fw-black fst-italic text-primary text-center">SUNGLASSES</h3>
        </li>
        <li class="col-sm-12 col-md-6 col-4" data-aos="flip-left" data-aos-delay="600">
          <img src="../assets/images/home-section3-3.png" alt="FUNCTIONAL" class="mb-8">
          <h3 class="font-roboto fs-2 fw-black fst-italic text-primary text-center">FUNCTIONAL</h3>
        </li>
      </ul>
    </section>
    <section class="bg">
      <div class="container py-sm-40 py-80">
        <h2 class="fs-sm-6 fs-2 fw-bold text-white text-center mb-sm-24 mb-48">聯名設計鏡框</h2>
        <ul class="d-flex flex-md-column overflow-hidden">
          <li class="mb-md-24" data-aos="fade-up-right">
            <picture>
              <source srcset="../assets/images/home-section4-1-sm.png" media="(max-width: 767px)">
              <img src="../assets/images/home-section4-1.png" alt="DOUBLE A+" class="w-md-100 h-md-240 object-fit-sm-cover">
            </picture>
            <h3 class="font-roboto fs-2 fw-black fst-italic bg-white text-primary text-center py-8">DOUBLE A+</h3>
          </li>
          <li data-aos="fade-up-left" data-aos-delay="300">
            <picture>
              <source srcset="../assets/images/home-section4-2-sm.png" media="(max-width: 767px)">
              <img src="../assets/images/home-section4-2.png" alt="YOUTH" class="w-md-100 h-md-240 object-fit-sm-cover">
            </picture>
            <h3 class="font-roboto fs-2 fw-black fst-italic bg-white text-primary text-center py-8">YOUTH</h3>
          </li>
        </ul>
      </div>
    </section>
    <section class="container py-sm-40 py-80">
      <h2 class="fs-sm-6 fs-2 fw-bold text-secondary text-center mb-sm-24 mb-48">顧客推薦</h2>
      <ul class="row" data-aos="fade-down">
        <li class="col-sm-12 col-md-6 col-3 mb-sm-16 mb-md-24">
          <div class="card border-1 rounded shadow">
            <img src="../assets/images/home-section5-1.png" alt="customer" class="w-sm-100">
            <div class="card-body h-205 px-16 d-flex flex-column">
              <h4 class="fw-medium mb-8">Jessy</h4>
              <p>眼鏡品質優良，下次還會想來這邊購買！</p>
              <time datetime="2021/06/20" class="fs-9 text-gray mt-auto">2021/06/20</time>
            </div>
          </div>
        </li>
        <li class="col-sm-12 col-md-6 col-3 mb-sm-16 mb-md-24">
          <div class="card border-1 rounded shadow">
            <img src="../assets/images/home-section5-2.png" alt="customer" class="w-sm-100">
            <div class="card-body h-205 px-16 d-flex flex-column">
              <h4 class="fw-medium mb-8">凱倫</h4>
              <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
              <time datetime="2021/04/18" class="fs-9 text-gray mt-auto">2021/04/18</time>
            </div>
          </div>
        </li>
        <li class="col-sm-12 col-md-6 col-3 mb-sm-16">
          <div class="card border-1 rounded shadow">
            <img src="../assets/images/home-section5-3.png" alt="customer" class="w-sm-100">
            <div class="card-body h-205 px-16 d-flex flex-column">
              <h4 class="fw-medium mb-8">悠悠</h4>
              <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
              <time datetime="2020/12/25" class="fs-9 text-gray mt-auto">2020/12/25</time>
            </div>
          </div>
        </li>
        <li class="col-sm-12 col-md-6 col-3">
          <div class="card border-1 rounded shadow">
            <img src="../assets/images/home-section5-4.png" alt="customer" class="w-sm-100">
            <div class="card-body h-205 px-16 d-flex flex-column">
              <h4 class="fw-medium mb-8">Kyuan</h4>
              <p>服務很好，品質沒有任何問題，非常喜歡。</p>
              <time datetime="2020/10/31" class="fs-9 text-gray mt-auto">2020/10/31</time>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section class="bg-pink">
      <div class="container py-sm-40 py-80">
        <h2 class="fs-sm-6 fs-2 fw-bold text-secondary text-center mb-md-24 mb-48">聯絡我們</h2>
        <form class="row flex-column align-items-center" data-aos="fade-down">
          <div class="col-sm-12 col-md-10 col-6 mb-sm-24 mb-48">
            <p class="fs-md-8 fs-7 mb-24">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
            <div class="mb-16">
              <label for="name" class="form-label">姓名</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="陳小明">
            </div>
            <div class="mb-16">
              <label for="phone" class="form-label">聯絡電話</label>
              <input type="tel" class="form-control" name="phone" id="phone" placeholder="0912-345-678">
            </div>
            <div class="mb-16">
              <label for="email" class="form-label">電子郵件</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="example@email.com">
            </div>
            <div class="mb-16">
              <label for="msg" class="form-label">意見反應</label>
              <textarea class="form-control" name="msg" id="msg" rows="5" placeholder="請輸入您的意見"></textarea>
            </div>
            <div class="d-flex">
              <input type="checkbox" class="form-check-input" name="agree" id="agree" value="1" id="flexCheckChecked">
              <label for="agree" class="form-label mb-0">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-4">
            <button type="button" class="btn btn-primary fs-8 fw-bold lh-1 w-100">確認送出</button>
          </div>
        </form>
      </div>
    </section>
  </main>

  <%- include('./layout/footer'); -%>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script type="module" src="../main.js"></script>
</body>
</html>