<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>眼鏡官網 | 系列鏡框</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
  <%- include('./layout/header'); -%>

  <div class="container mw-md-100 px-md-0">
    <ul class="menu">
      <li class="menu-item"><a href="product.html" class="menu-link active">OPTICAL</a></li>
      <li class="menu-item"><a href="product-sunglasses.html" class="menu-link">SUNGLASSES</a></li>
      <li class="menu-item"><a href="#" class="menu-link">FUNCTIONAL</a></li>
    </ul>
  </div>
  <ul class="d-flex">
    <li class="w-50">
      <picture>
        <source srcset="../assets/images/product-header-sm-1.png" media="(max-width: 992px)">
        <img src="../assets/images/product-header-1.png" alt="product-banner" class="w-md-100">
      </picture>
    </li>
    <li class="w-50">
      <picture>
        <source srcset="../assets/images/product-header-sm-2.png" media="(max-width: 992px)">
        <img src="../assets/images/product-header-2.png" alt="product-banner" class="w-md-100">
      </picture>
    </li>
  </ul>
  <main>
    <section class="container pt-sm-40 pb-sm-64 py-80">
      <h2 class="font-roboto fs-sm-6 fs-3 fw-medium text-center">Celluloid Combi</h2>
      <p class="fs-sm-6 fs-5 text-center mb-sm-24 mb-32">賽璐珞鈦金屬混合鏡框</p>
      <ul class="row mb-sm-64 mb-80">
        <li class="col-sm-12 col-md-6 col-3 mb-sm-24 mb-md-40 mb-80">
          <img src="../assets/images/product-1.png" alt="product" class="w-sm-100">
          <div class="d-flex justify-content-between">
            <h3 class="font-roboto fs-6">BJ41600S</h3>
            <span class="font-roboto fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="palette">
            <li class="palette-item mr-8"></li>
            <li class="palette-item"></li>
          </ul>
        </li>
        <li class="col-sm-12 col-md-6 col-3 mb-sm-24 mb-md-40 mb-80">
          <img src="../assets/images/product-2.png" alt="product" class="w-sm-100">
          <div class="d-flex justify-content-between">
            <h3 class="font-roboto fs-6">BJ41600S</h3>
            <span class="font-roboto fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="palette">
            <li class="palette-item mr-8"></li>
            <li class="palette-item"></li>
          </ul>
        </li>
        <li class="col-sm-12 col-md-6 col-3 mb-sm-24 mb-md-40 mb-80">
          <img src="../assets/images/product-3.png" alt="product" class="w-sm-100">
          <div class="d-flex justify-content-between">
            <h3 class="font-roboto fs-6">BJ41600S</h3>
            <span class="font-roboto fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="palette">
            <li class="palette-item mr-8"></li>
            <li class="palette-item"></li>
          </ul>
        </li>
        <li class="col-sm-12 col-md-6 col-3 mb-sm-24 mb-md-40 mb-80">
          <img src="../assets/images/product-4.png" alt="product" class="w-sm-100">
          <div class="d-flex justify-content-between">
            <h3 class="font-roboto fs-6">BJ41600S</h3>
            <span class="font-roboto fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="palette">
            <li class="palette-item mr-8"></li>
            <li class="palette-item"></li>
          </ul>
        </li>
        <li class="col-sm-12 col-md-6 col-3 mb-sm-24 mb-md-40 mb-80">
          <img src="../assets/images/product-5.png" alt="product" class="w-sm-100">
          <div class="d-flex justify-content-between">
            <h3 class="font-roboto fs-6">BJ41600S</h3>
            <span class="font-roboto fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="palette">
            <li class="palette-item mr-8"></li>
            <li class="palette-item"></li>
          </ul>
        </li>
        <li class="col-sm-12 col-md-6 col-3 mb-sm-24 mb-md-40 mb-80">
          <img src="../assets/images/product-6.png" alt="product" class="w-sm-100">
          <div class="d-flex justify-content-between">
            <h3 class="font-roboto fs-6">BJ41600S</h3>
            <span class="font-roboto fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="palette">
            <li class="palette-item mr-8"></li>
            <li class="palette-item"></li>
          </ul>
        </li>
        <li class="col-sm-12 col-md-6 col-3 mb-sm-24 mb-md-40 mb-80">
          <img src="../assets/images/product-1.png" alt="product" class="w-sm-100">
          <div class="d-flex justify-content-between">
            <h3 class="font-roboto fs-6">BJ41600S</h3>
            <span class="font-roboto fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="palette">
            <li class="palette-item mr-8"></li>
            <li class="palette-item"></li>
          </ul>
        </li>
        <li class="col-sm-12 col-md-6 col-3 mb-sm-24 mb-md-40 mb-80">
          <img src="../assets/images/product-2.png" alt="product" class="w-sm-100">
          <div class="d-flex justify-content-between">
            <h3 class="font-roboto fs-6">BJ41600S</h3>
            <span class="font-roboto fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="palette">
            <li class="palette-item mr-8"></li>
            <li class="palette-item"></li>
          </ul>
        </li>
        <li class="col-sm-12 col-md-6 col-3 mb-sm-24 mb-md-40">
          <img src="../assets/images/product-3.png" alt="product" class="w-sm-100">
          <div class="d-flex justify-content-between">
            <h3 class="font-roboto fs-6">BJ41600S</h3>
            <span class="font-roboto fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="palette">
            <li class="palette-item mr-8"></li>
            <li class="palette-item"></li>
          </ul>
        </li>
        <li class="col-sm-12 col-md-6 col-3 mb-sm-24 mb-md-40">
          <img src="../assets/images/product-4.png" alt="product" class="w-sm-100">
          <div class="d-flex justify-content-between">
            <h3 class="font-roboto fs-6">BJ41600S</h3>
            <span class="font-roboto fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="palette">
            <li class="palette-item mr-8"></li>
            <li class="palette-item"></li>
          </ul>
        </li>
        <li class="col-sm-12 col-md-6 col-3 mb-sm-24">
          <img src="../assets/images/product-5.png" alt="product" class="w-sm-100">
          <div class="d-flex justify-content-between">
            <h3 class="font-roboto fs-6">BJ41600S</h3>
            <span class="font-roboto fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="palette">
            <li class="palette-item mr-8"></li>
            <li class="palette-item"></li>
          </ul>
        </li>
        <li class="col-sm-12 col-md-6 col-3">
          <img src="../assets/images/product-6.png" alt="product" class="w-sm-100">
          <div class="d-flex justify-content-between">
            <h3 class="font-roboto fs-6">BJ41600S</h3>
            <span class="font-roboto fs-6 fw-medium text-primary">NTD3,490</span>
          </div>
          <ul class="palette">
            <li class="palette-item mr-8"></li>
            <li class="palette-item"></li>
          </ul>
        </li>
      </ul>
      <ul class="pagination justify-content-center">
        <li class="page-item"><a href="#" class="page-link">上一頁</a></li>
        <li class="page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link active">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link next-page">下一頁</a></li>
      </ul>
    </section>
  </main>

  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>
</html>