<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>眼鏡官網 | 門市據點</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
  <%- include('./layout/header'); -%>

  <main>
    <section class="container pt-sm-40 pb-sm-64 pt-md-80 pt-96 pb-80">
      <h2 class="fs-sm-6 fs-2 fw-bold pl-16 mb-sm-24 mb-32 border-left-1 border-red">門市據點</h2>
      <div class="d-flex align-items-center mb-sm-24 mb-40">
        <label for="area" class="form-label fs-sm-8 fs-6 mr-sm-8 mr-16 mb-0">選擇地區</label>
        <select class="form-select" name="area" id="area">
          <option value="台北市">台北市</option>
          <option value="新北市">新北市</option>
          <option value="台中市">台中市</option>
          <option value="台南市">台南市</option>
          <option value="高雄市">高雄市</option>
        </select>
      </div>
      <ul class="row">
        <li class="col-sm-12 col-md-6 col-4 mb-md-24 mb-48">
          <div class="card text-dark border-1">
            <img src="../assets/images/store-1.png" alt="store">
            <h3 class="card-header border-bottom-1">台北中山旗艦店</h3>
            <ul class="card-body">
              <li class="d-flex align-items-center mb-8">
                <span class="material-icons-outlined mr-8">phone</span>
                <p class="fs-7">電話：(02)000-1234</p>
              </li>
              <li class="d-flex align-items-center mb-8">
                <span class="material-icons-outlined mr-8">schedule</span>
                <p class="fs-7">營業時間：10:00-21:00</p>
              </li>
              <li class="d-flex">
                <span class="material-icons-outlined mr-8">place</span>
                <p class="fs-7">地址：台北市中山區南京東路25巷2-1號</p>
              </li>
            </ul>
            <a href="store.html" class="btn btn-black fs-7 text-center">詳細資訊</a>
          </div>
        </li>
        <li class="col-sm-12 col-md-6 col-4 mb-md-24 mb-48">
          <div class="card text-dark border-1">
            <img src="../assets/images/store-2.png" alt="store">
            <h3 class="card-header border-bottom-1">台北綠園店</h3>
            <ul class="card-body">
              <li class="d-flex align-items-center mb-8">
                <span class="material-icons-outlined mr-8">phone</span>
                <p class="fs-7">電話：(02)000-2345</p>
              </li>
              <li class="d-flex align-items-center mb-8">
                <span class="material-icons-outlined mr-8">schedule</span>
                <p class="fs-7">營業時間：10:00-21:00</p>
              </li>
              <li class="d-flex">
                <span class="material-icons-outlined mr-8">place</span>
                <p class="fs-7">地址：台北市中正區復興南路 132-1 號</p>
              </li>
            </ul>
            <a href="store.html" class="btn btn-black fs-7 text-center">詳細資訊</a>
          </div>
        </li>
        <li class="col-sm-12 col-md-6 col-4 mb-md-24 mb-48">
          <div class="card text-dark border-1">
            <img src="../assets/images/store-3.png" alt="store">
            <h3 class="card-header border-bottom-1">台中清水旗艦店</h3>
            <ul class="card-body">
              <li class="d-flex align-items-center mb-8">
                <span class="material-icons-outlined mr-8">phone</span>
                <p class="fs-7">電話：(02)000-1234</p>
              </li>
              <li class="d-flex align-items-center mb-8">
                <span class="material-icons-outlined mr-8">schedule</span>
                <p class="fs-7">營業時間：10:00-21:00</p>
              </li>
              <li class="d-flex">
                <span class="material-icons-outlined mr-8">place</span>
                <p class="fs-7">地址：台中市清水區經南一路 23 號 8 樓</p>
              </li>
            </ul>
            <a href="store.html" class="btn btn-black fs-7 text-center">詳細資訊</a>
          </div>
        </li>
        <li class="col-sm-12 col-md-6 col-4 mb-md-24">
          <div class="card text-dark border-1">
            <img src="../assets/images/store-4.png" alt="store">
            <h3 class="card-header border-bottom-1">高雄中正形象店</h3>
            <ul class="card-body">
              <li class="d-flex align-items-center mb-8">
                <span class="material-icons-outlined mr-8">phone</span>
                <p class="fs-7">電話：(07)000-2345</p>
              </li>
              <li class="d-flex align-items-center mb-8">
                <span class="material-icons-outlined mr-8">schedule</span>
                <p class="fs-7">營業時間：10:00-21:00</p>
              </li>
              <li class="d-flex">
                <span class="material-icons-outlined mr-8">place</span>
                <p class="fs-7">地址：高雄市苓雅區中正路 38 號 12 樓</p>
              </li>
            </ul>
            <a href="store.html" class="btn btn-black fs-7 text-center">詳細資訊</a>
          </div>
        </li>
        <li class="col-sm-12 col-md-6 col-4">
          <div class="card text-dark border-1">
            <img src="../assets/images/store-5.png" alt="store">
            <h3 class="card-header border-bottom-1">高雄夢時代店</h3>
            <ul class="card-body">
              <li class="d-flex align-items-center mb-8">
                <span class="material-icons-outlined mr-8">phone</span>
                <p class="fs-7">電話：(07)000-1234</p>
              </li>
              <li class="d-flex align-items-center mb-8">
                <span class="material-icons-outlined mr-8">schedule</span>
                <p class="fs-7">營業時間：10:00-21:00</p>
              </li>
              <li class="d-flex">
                <span class="material-icons-outlined mr-8">place</span>
                <p class="fs-7">地址：高雄市前鎮區中華一路 63 號 6 樓</p>
              </li>
            </ul>
            <a href="store.html" class="btn btn-black fs-7 text-center">詳細資訊</a>
          </div>
        </li>
      </ul>
    </section>
  </main>

  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>
</html>